.button {
  background-color: #9155fd;
  color: white;
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 0.46px;
  word-wrap: break-word;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: .5rem;
}
